<div class="nested-fields">
  <article class="timeline-entry">
    <div class="timeline-entry-inner">

      <div class="timeline-icon bg-info">
        <i class="fa fa-wrench"></i>
      </div>

      <div class="timeline-label">
        <div class="form-group">
          <%= f.label :name, class: "col-md-offset-2 col-md-2 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :name, placeholder: "", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :estimated_price, class: "col-md-offset-2 col-md-2 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :estimated_price, placeholder: "", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, class: "col-md-offset-2 col-md-2 control-label" %>
          <div class="col-md-6">
            <%= f.text_area :description, rows: 4, placeholder: "", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :progress, class: "col-md-offset-2 col-md-2 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :progress, class: "form-control progress input-large", 'data-slider-value' => f.object.progress %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :estimated_time, class: "col-md-offset-2 col-md-2 control-label" %>
          <div class="col-md-6">
            <%= f.number_field :estimated_time, placeholder: "", class: "form-control" %>
          </div>
        </div>

        <% unless f.object.attachments.empty? %>
        <div class="form-group">
          <label class="col-md-offset-2 col-md-2 control-label">Files</label>
          <div class="col-md-6">
            <% f.object.attachments.each do |a| %>
            <div id="attachment_<%= a.id %>">
              <%= link_to a.label, a.file.url %> <%= link_to '<i class="fa fa-trash"></i>'.html_safe, a, method: :delete, data: {confirm: "Are you sure?"}, remote: true %><br/>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>

        <%= f.fields_for :attachments, Attachment.new, html: {multipart: true} do |a| %>
        
        <%= render :partial => "attachments/attachment_fields", locals: {f: a} %>

        <div id="files" class="form-group">

          <div class="col-md-6 col-md-offset-4">
            <%= link_to_add_association 'Add more files', f, :attachments, { partial: "attachments/attachment_fields", 'data-association-insertion-method' => 'before', 'data-association-insertion-node' => '#files', class: "btn btn-success btn-sm"} %>
          </div>
        </div>
        <% end %>

        <br/>
        <%= link_to_remove_association "Remove job", f, class: "btn btn-danger btn-sm pull-right"  %>
        <br/>
      </div>
    </div>

  </article>

</div>