<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Salutation</th>
      <th>Nationality</th>
      <th>Newsletter</th>
      <th>Employed since</th>
      <th>Role</th>
      <th>Position</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= user.try(:salutation) %></td>
        <td><%= user.try(:nationality) %></td>
        <td><%= user.try(:newsletter) %></td>
        <td><%= user.try(:employed_since) %></td>
        <td><%= user.role %></td>
        <td><%= user.try(:position) %></td>
        <td><%= user._type %></td>
        <td><%= change_type(user) %></td>
        <td><%= link_to 'Edit', edit_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>