<div class="col-md-12 ">
  <div class="panel <%= @concept.archived ? 'panel-default' : 'panel-success'  %>">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Concept: <%= @concept.name %>  <%= concept_badge(@concept) %></strong></h3>
    </div>
    <div class="panel-body">
      <p><%= @concept.description %></p>
      <p><strong>Price: </strong><%= @concept.price %></p>
      <p><strong>Start at: </strong><%= @concept.start_at.strftime("%d.%m.%Y") %></p>
      <p><strong>End at: </strong><%= @concept.end_at.strftime("%d.%m.%Y") %></p>

    </div>

  </div>
</div>

<div class="col-md-12">
  <div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title"><strong>Project </strong></h3></div>
    <div class="panel-body">
      <%= form_for([@concept, @project], html: {class: "form-horizontal"}) do |f| %>
      <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
          <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, class: "col-md-offset-2 col-md-2 control-label" %>
        <div class="col-md-6">
          <%= f.text_field :name, placeholder: "", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :estimated_finish, class: "col-md-offset-2 col-md-2 control-label" %>
        <div class="col-md-6">
          <%= f.text_field :estimated_finish, placeholder: "", class: "form-control datepicker" %>
        </div>
      </div>

      <div class="col-md-11">
        <div class="timeline-centered">
          <%= f.fields_for :jobs, @project.jobs do |b| %>

          <%= render :partial => "jobs/form_fields", locals: {f: b} %>

          
          <% end %>
          <article class="timeline-entry begin">
            <div class="timeline-entry-inner">
              
              <div class="timeline-icon bg-success">
                <i class="fa fa-edit"></i>
              </div>

              <div class="timeline-label">
                <%= link_to_add_association 'add job', f, :jobs, partial: "jobs/form_fields", 'data-association-insertion-method' => 'before', 'data-association-insertion-node' => 'article.begin', id: 'add-nested-fields', class: "btn btn-success btn-block" %>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-5">
          <%= f.submit "Save", class: "btn btn-primary" %>
          <%= link_to("Cancel", :back , class: "btn btn-warning") %>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>