<h1>Projects</h1>
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="<%= 'active' if params[:cat].blank? %>"> <%= link_to("Active", projects_path) %> </li>
  <li role="presentation" class="<%= 'active' if params[:cat].eql?('completed') %>"><%= link_to "Completed", projects_path(cat: "completed") %> </li>
  <li role="presentation" class="<%= 'active' if params[:cat].eql?('archived') %>"><%= link_to "Archived", projects_path(cat: "archived") %> </li>
</ul>
<br/>

<div class="row">
  <% @projects.each do |project| %>  
    <%= render :partial => "projects/show_fields", locals: {project: project} %>
  <% end %>
</div>
 
