<h1>Listing Addresses</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Street</th>
      <th>City</th>
      <th>Zip</th>
      <th>Country</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.street %></td>
        <td><%= address.city %></td>
        <td><%= address.zip %></td>
        <td><%= address.country %></td>
        <td><%= address.user.account_label %></td>
        <td>
          <%= link_to 'Edit', edit_address_path(address), class: "btn btn-sm btn-primary" %>
          <%= link_to 'Remove', address, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

