<h1>Concepts</h1>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="box">
      <div class="box-icon">
        <span class="fa fa-4x fa-pencil-square-o"></span>
      </div>
      <div class="info">
        <h4 class="text-center">Start your project!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_form">New Concept</button>
        <br/>
      </div>
    </div>
  </div>


</div>
<br/>

<div class="row">
  <% @concepts.each do |concept| %>  
  <div class="col-xs-12 col-md-6 ">
    <div class="panel <%= concept.archived ? 'panel-default' : 'panel-success'  %>">
      <div class="panel-heading">
        <h3 class="panel-title"><strong><%= concept.name %>  <%= concept_badge(concept) %></strong></h3>
      </div>
      <div class="panel-body">
        <p><%= concept.description %></p>
        <p><strong>Price: </strong><%= concept.price %></p>
        <p><strong>Start at: </strong><%= concept.start_at.strftime("%d.%m.%Y") if concept.start_at %></p>
        <p><strong>End at: </strong><%= concept.end_at.strftime("%d.%m.%Y") if concept.end_at %></p>
        <%= link_to 'Edit', edit_concept_path(concept), remote: true, class: "btn btn-primary btn-sm" %>
        <%= link_to (concept.archived ? 'Activate' : 'Archive'), archive_concept_path(concept), class: "btn btn-warning btn-sm", method: :put %>
        <% if can? :create, Project %>
          <%= link_to_new_or_existing(concept) %>
        <% else %>
          <%= link_to("Show Project", project_path(concept.project) , class: "btn btn-sm btn-info") if concept.has_project? %>
        <% end %>
      </div>

    </div>
  </div>

  <% end %>

</div>

<div class="row"><%= will_paginate @concepts, renderer: BootstrapPagination::Rails  %></div>

<div id="modal_form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <%= render :partial => "concepts/modal_form", locals: {concept: @concept}%>
</div>

<div id="modal_edit_form">
</div>

<br>
