<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concept.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @concept.price %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @concept.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @concept.end_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @concept.description %>
</p>

<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
